.pseudoelemento
  font-size: font-size-normal
  width: 30px
  &:before
    content: "Hola"
  .clase &
    &:before
      content: "Chao"
    img
      margin-top: 10px

body, .textred
  color: red
  background: yellow
  text-decoration: none
  margin: 10px 20px
  padding: 1em
  .primerhijo
    margin-top: 24px
    font-size: font-size-small

.btn
  background: red
  border-radius: 5px
  &--alert
    background: green
p
  font-size: font-size-paragraph
h3
  font-size: font-size-normal - font-size-small

img
  margin: 0 0 0 10px
  padding: 1px 2px 3px 14px

mixin-max-width(width = page_max_width)
  max-width: width
  margin-left: auto;
  margin-right: auto;

.container
  mixin-max-width(page_max_width)
.section
  mixin-max-width(page_max_width_dos)
